@page "/yeelight"
@using raspberrypi_homecontrol_api_client.Components

<style>
    input[type=range] {
        width: 100%;
    }
</style>

<h1>Yeelight control</h1>
@if (Bulb is not null)
{
    <div class="row">
        <div class="col">
            <p>Power: <b>@Bulb.Power</b></p>
            <button class="btn btn-primary" @onclick="YeelightToggle">Toggle</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <label for="brightness_slider">Brightness: @Bulb.Brightness%</label>
            <div class="input-group mb-3">
                <input type="range" min="1" max="100" value="@Bulb.Brightness" @onchange="YeelightBrightness" id="brightness_slider" />
            </div>
        </div>
        <div class="col">
            <label for="temperature_slider">Temperature: @Bulb.Temperature K</label>
            <div class="input-group mb-3">
                <input type="range" min="1700" max="6500" value="@Bulb.Temperature" @onchange="YeelightTemperature" id="temperature_slider" />
            </div>
        </div>
        <div class="col">
            <label for="hue_slider">Hue: @Bulb.Hue°</label>
            <div class="input-group mb-3">
                <input type="range" min="0" max="359" value="@Bulb.Hue" @onchange="YeelightHue" id="hue_slider" />
            </div>
        </div>
        <div class="col">
            <label for="saturation_slider">Saturation: @Bulb.Saturation%</label>
            <div class="input-group mb-3">
                <input type="range" min="0" max="100" value="@Bulb.Saturation" @onchange="YeelightSaturation" id="saturation_slider" />
            </div>
        </div>
    </div>

    @if (Bulb.Color is not null)
    {
        <ColorPicker RefreshEvent="GetBulbStatus" Color="Bulb.Color" @ref="colorMatrix" />
    }
}